<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="container">
    <nav class="navbar navbar-light bg-light" >
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Wikinimous</span>
      <div class= 'row'>
      <%= link_to "New Article", new_article_path %>
      </div>
    </div>
    </nav>
    </div>
    <%= yield %>
  </body>
</html>
